html {
  overflow-y: scroll;
}

.navbar {
  margin-bottom: 40px;
}

.navbar-inner {
  border-radius: 0px;
}

.container-fluid {
  max-width: 1000px;
  margin: 0 auto;
}

.content {
  margin-bottom: 60px;
}

.nav-list ul {
  margin-top: 10px;
  list-style: none;
}

.nav-list li {
  line-height: 25px;
  padding-left: 18px;
  background: url("../img/right-arrow.png") left 5px no-repeat;
}

.post {
  padding-top: 20px;
  padding-bottom: 40px;
}

.subtitle {
  opacity: .7;
  padding-bottom: 20px;
}

.subtitle span {
  padding-right: 10%;
}

.pagination {
  text-align: center;
}
