html {
  overflow-y: scroll;
}

.navbar {
  margin-bottom: 40px;
}

.navbar-inner {
  border-radius: 0px;
}

.container-fluid {
  max-width: 1000px;
  margin: 0 auto;
}

.content {
  margin-top: 20px;
  margin-bottom: 60px;
}

/*header {
  padding-bottom: 10px;
}*/

h1 a {
  color: rgb(51, 51, 51);
}

.post {
  padding-top: 20px;
  padding-bottom: 40px;
}

.subtitle {
  opacity: .7;
  padding-bottom: 20px;
}

.subtitle span {
  padding-right: 10%;
}

.pagination {
  text-align: center;
}
