<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title><%= h config["title"] %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= h config["title"] %>">
    <link rel="icon" type="image/png" href="<%= dir + "data/logo.png" %>" />
    <link rel="alternate" type="application/rss+xml" href="<%= dir %>rss.xml" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
    <link href="<%= dir %>css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="<%= dir %>css/style.css" rel="stylesheet" media="screen">
    <link href="<%= dir %>css/prettify.css" rel="stylesheet" media="screen">
    <link href="<%= dir %>css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body onload="prettyPrint()">
    <div class="container-fluid content">
      <header>
        <div class="row-fluid">
          <div class="span2">
            <a href="<%= dir + "." %>" class="hidden-phone"><img src="<%= dir + "data/logo.png" %>" alt="PuPuS"></a>
          </div>
          <div class="span7">
            <a href="<%= dir + "." %>" class="visible-phone pull-left"><img src="<%= dir + "data/logo.png" %>" alt="PuPuS" width="110"></a>
            <h1><a href="<%= dir + "." %>"><%= h config["title"] %></a></h1>
            <p>This is the blog of the <a href="http://www.pps.univ-paris-diderot.fr/">PPS team</a> of <a href="http://www.univ-paris-diderot.fr/">Université Paris Diderot</a>. We talk about programming, proof theory, models, concurrency, rewriting, realisability and game theory.</p>
            <p class="hidden-phone"><a href="<%= dir + "contribute.html" %>">Contribute...</a></p>
          </div>
          <div class="span2">
            <a href="http://www.pps.univ-paris-diderot.fr/" class="hidden-phone"><img src="<%= dir + "data/pps_logo.png" %>" alt="PPS"></a>
          </div>
          <div class="span1"></div>
        </div>
      </header>
      <hr>
