<div class="span3 nav-list hidden-phone">
  <ul>
    <li><a href="http://www.inria.fr/">Inria</a></li>
    <li><a href="http://www-rocq.inria.fr/">Inria Paris-Rocquencourt</a></li>
    <li><a href="http://www.univ-paris-diderot.fr/">Université Paris Diderot</a></li>
    <li><a href="http://coq.inria.fr/">Coq</a></li>
  </ul>
</div>
