<%= header(config, "", :blog) %>

<% for post in blog.posts[0..4] do %>
<%= post_content(config, "", post, true, false) %>
<% end %>
<div class="row-fluid">
  <div class="span9">
    <i class="icon-folder-open"></i> <a href="archives.html">Archives</a>
  </div>
  <div class="span3">
  </div>
</div>

<%= footer(config) %>
