<%= header(config, "", :blog) %>

<% for post in blog.posts[0..2] do %>
<%= post_content(config, "", post, true, false) %>
<% end %>
<div class="row-fluid">
  <div class="span9">
    <a href="archive.html"><i class="icon-folder-open"></i> Archive</a>
  </div>
  <div class="span3">
  </div>
</div>

<%= footer %>
